# dependencies
node_modules
.pnp
.pnp.js

# build
dist
build
target

# env
.env
.env.local
.env.production

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Docker
.docker/

# Go
vendor/
*.test
coverage.out

# Misc
*.log

# nx
.nx/cache
.nx/workspace-data

# Expo
.expo/

# Yarn
.yarn/

# cache
.cache